In [10]:
import numpy as numpy
import pandas as pd

In [26]:
url = "https://voteview.com/static/data/out/members/HS119_members.csv"
ideology = pd.read_csv(url)
ideology.head(3).T

cols_to_keep = ['chamber', 'bioname', 'nominate_dim1', "party_code"]
crosswalk_cols = ['bioname', 'state_abbrev', 'district_code', 'icpsr', 'bioguide_id']

crosswalk = ideology[crosswalk_cols]
ideology = ideology[cols_to_keep]    
ideology

    chamber                    bioname  nominate_dim1  party_code
0     House        ROGERS, Mike Dennis          0.378         200
1     House              SEWELL, Terri         -0.401         100
2     House         PALMER, Gary James          0.674         200
3     House               MOORE, Barry          0.645         200
4     House               STRONG, Dale          0.606         200
..      ...                        ...            ...         ...
540  Senate  JUSTICE, James Conley, II          0.555         200
541  Senate             BALDWIN, Tammy         -0.487         100
542  Senate               JOHNSON, Ron          0.641         200
543  Senate         LUMMIS, Cynthia M.          0.686         200
544  Senate          BARRASSO, John A.          0.540         200

[545 rows x 4 columns]

In [27]:
ideology['party_code'].value_counts()

party_code
200    279
100    264
328      2
Name: count, dtype: int64

In [28]:
replace_map = {200: 'Republican', 100: 'Democrat', 328: 'Independent'}

ideology['party'] = ideology['party_code'].replace(replace_map)
ideology['party'].value_counts()

party
Republican     279
Democrat       264
Independent      2
Name: count, dtype: int64

In [29]:
ideology = ideology.drop(['party_code'], axis=1)

In [30]:
ideology = ideology.rename({'nominate_dim1': 'left_right_ideology'}, axis=1)
ideology

    chamber                    bioname  left_right_ideology       party
0     House        ROGERS, Mike Dennis                0.378  Republican
1     House              SEWELL, Terri               -0.401    Democrat
2     House         PALMER, Gary James                0.674  Republican
3     House               MOORE, Barry                0.645  Republican
4     House               STRONG, Dale                0.606  Republican
..      ...                        ...                  ...         ...
540  Senate  JUSTICE, James Conley, II                0.555  Republican
541  Senate             BALDWIN, Tammy               -0.487    Democrat
542  Senate               JOHNSON, Ron                0.641  Republican
543  Senate         LUMMIS, Cynthia M.                0.686  Republican
544  Senate          BARRASSO, John A.                0.540  Republican

[545 rows x 4 columns]

In [31]:
ideology.sort_values('left_right_ideology', ascending=False)

,chamber,bioname,left_right_ideology,party
398,House,"GILL, Brandon",0.981,Republican
296,House,"HARRIGAN, Pat",0.981,Republican
443,Senate,"TUBERVILLE, Thomas Hawley (Tommy)",0.936,Republican
493,Senate,"SCHMITT, Eric Stephen",0.918,Republican
129,House,"MCCORMICK, Rich",0.891,Republican
...,...,...,...,...
429,House,"RANDALL, Emily",-0.685,Democrat
485,Senate,"WARREN, Elizabeth",-0.744,Democrat
401,House,"TURNER, Sylvester",-0.746,Democrat
381,House,"GARCIA, Sylvia",-0.781,Democrat
66,House,"SIMON, Lateefah",-0.937,Democrat

In [32]:
crosswalk

                       bioname state_abbrev  district_code  icpsr bioguide_id
0          ROGERS, Mike Dennis           AL              3  20301     R000575
1                SEWELL, Terri           AL              7  21102     S001185
2           PALMER, Gary James           AL              6  21500     P000609
3                 MOORE, Barry           AL              1  22140     M001212
4                 STRONG, Dale           AL              5  22366     S001220
..                         ...          ...            ...    ...         ...
540  JUSTICE, James Conley, II           WV              0  42504     J000312
541             BALDWIN, Tammy           WI              0  29940     B001230
542               JOHNSON, Ron           WI              0  41111     J000293
543         LUMMIS, Cynthia M.           WY              0  20953     L000571
544          BARRASSO, John A.           WY              0  40707     B001261

[545 rows x 5 columns]

In [52]:
ideology_crosswalk = pd.merge(ideology, crosswalk, on ='bioname', how = 'outer', validate = 'one_to_one', indicator= 'matched')
ideology_crosswalk

,chamber,bioname,left_right_ideology,party,state_abbrev,district_code,icpsr,bioguide_id,matched
0,House,"ADAMS, Alma",-0.462,Democrat,NC,12,21545,A000370,both
1,House,"ADERHOLT, Robert",0.405,Republican,AL,4,29701,A000055,both
2,House,"AGUILAR, Peter Rey",-0.324,Democrat,CA,33,21506,A000371,both
3,House,"ALFORD, Mark",0.569,Republican,MO,4,22300,A000379,both
4,House,"ALLEN, Rick W.",0.690,Republican,GA,12,21516,A000372,both
...,...,...,...,...,...,...,...,...,...
540,House,"WOMACK, Steve",0.348,Republican,AR,3,21108,W000809,both
541,Senate,"WYDEN, Ronald Lee",-0.333,Democrat,OR,0,14871,W000779,both
542,House,"YAKYM, Rudy, III",0.513,Republican,IN,2,22171,Y000067,both
543,Senate,"YOUNG, Todd",0.438,Republican,IN,0,21133,Y000064,both
544,House,"ZINKE, Ryan",0.438,Republican,MT,1,21532,Z000018,both

In [35]:
ideology_crosswalk.query("state_abbrev == 'VA'")

,chamber,bioname,left_right_ideology,party,state_abbrev,district_code,icpsr,bioguide_id
410,House,"WITTMAN, Robert J.",0.448,Republican,VA,1,20756,W000804
411,House,"CONNOLLY, Gerald E. (Gerry)",-0.309,Democrat,VA,11,20952,C001078
412,House,"GRIFFITH, H. Morgan",0.510,Republican,VA,9,21191,G000568
413,House,"BEYER, Donald Sternoff Jr.",-0.395,Democrat,VA,8,21554,B001292
414,House,"CLINE, Benjamin",0.716,Republican,VA,6,21908,C001118
415,House,"KIGGANS, Jennifer",0.260,Republican,VA,2,22335,K000399
416,House,"MCCLELLAN, Jennifer",-0.550,Democrat,VA,4,22374,M001227
417,House,"MCGUIRE, John J., III",0.673,Republican,VA,5,22539,M001239
418,House,"SUBRAMANYAM, Suhas",-0.301,Democrat,VA,10,22554,S001230
419,House,"VINDMAN, Eugene Simon",-0.168,Democrat,VA,7,22558,V000138
420,House,"WALKINSHAW, James R.",-0.503,Democrat,VA,11,22564,W000831
421,House,"SCOTT, Robert C.",-0.450,Democrat,VA,3,39307,S000185
535,Senate,"WARNER, Mark",-0.208,Democrat,VA,0,40909,W000805
536,Senate,"KAINE, Timothy Michael (Tim)",-0.243,Democrat,VA,0,41305,K000384

## Vote similarlity matrix

In [103]:
url = "https://voteview.com/static/data/out/votes/HS119_votes.csv"
votes = pd.read_csv(url)
votes.head(3).T

                0      1      2
congress      119    119    119
chamber     House  House  House
rollnumber      1      1      1
icpsr       14854  14863  14873
cast_code       1      1      6
prob         99.6   78.2  100.0

### pd.mergre(data1, data2, on, how, vaildare, indicator)

Six arguments:

* data1, data2: the two dataframes we want to join/merge

* on: the columns whoes values the dataframe share. If theses columns don't have the same name, use left_on and right_on instead

* how: what to do with rows that do not have a match on the other dataset
    * inner: drop any unmatched row

    * outer (full): keep all rows, if they don't match put missing values in the unmatched part the data

    * left: keep everything from data1, drop unmatched from data2

    * right: keep everything from data2, drop unmatched from data1

    Note: it's a good idea to join outer, at first, to see if there are any problems with matching.

* validate: "one_to_one", " many_to_one", "one_to _many", or "many_to_many". Sets an expectation for how many rows in data2 one row in data1 will match to. If ther expectation is not met, returns an error.

* indicatior: a new column that will tell you whether an ID (from the on feature) was found in both datasets, the left only, or right only

In [46]:
data1 = pd.DataFrame({'id': [1, 1, 1], 'x': [1, 2, 3]})
data2 = pd.DataFrame({'id': [1, 1, 1], 'y': [4, 5, 6]})
data1

   id  x
0   1  1
1   1  2
2   1  3

In [47]:
data2

   id  y
0   1  4
1   1  5
2   1  6

In [44]:
pd.merge(data1, data2, on='id')

   id  x  y
0   1  1  4
1   1  1  5
2   1  1  6
3   1  2  4
4   1  2  5
5   1  2  6
6   1  3  4
7   1  3  5
8   1  3  6

In [104]:
votes = votes.drop(['congress', 'prob'], axis=1)
votes

       chamber  rollnumber  icpsr  cast_code
0        House           1  14854          1
1        House           1  14863          1
2        House           1  14873          6
3        House           1  15029          6
4        House           1  15433          6
...        ...         ...    ...        ...
174605  Senate         530  42504          1
174606  Senate         530  42505          1
174607  Senate         530  42506          1
174608  Senate         530  49308          6
174609  Senate         530  49703          1

[174610 rows x 4 columns]

In [93]:
vote_compare = pd.merge(votes, votes, 
                        on = ['chamber', 'rollnumber'], 
                        how = 'outer',
                        indicator = 'matched',
                        validate = 'many_to_many')
vote_compare

,chamber,rollnumber,icpsr_x,cast_code_x,icpsr_y,cast_code_y,matched
0,House,1,14854,1,14854,1,both
1,House,1,14854,1,14863,1,both
2,House,1,14854,1,14873,6,both
3,House,1,14854,1,15029,6,both
4,House,1,14854,1,15433,6,both
...,...,...,...,...,...,...,...
57936809,Senate,530,49703,1,42504,1,both
57936810,Senate,530,49703,1,42505,1,both
57936811,Senate,530,49703,1,42506,1,both
57936812,Senate,530,49703,1,49308,6,both
57936813,Senate,530,49703,1,49703,1,both

In [94]:
vote_compare = vote_compare.drop(['matched'], axis=1)
vote_compare = vote_compare.query("icpsr_x != icpsr_y")
vote_compare

         chamber  rollnumber  icpsr_x  cast_code_x  icpsr_y  cast_code_y
1          House           1    14854            1    14863            1
2          House           1    14854            1    14873            6
3          House           1    14854            1    15029            6
4          House           1    14854            1    15433            6
5          House           1    14854            1    15448            6
...          ...         ...      ...          ...      ...          ...
57936808  Senate         530    49703            1    42503            1
57936809  Senate         530    49703            1    42504            1
57936810  Senate         530    49703            1    42505            1
57936811  Senate         530    49703            1    42506            1
57936812  Senate         530    49703            1    49308            6

[57762204 rows x 6 columns]

In [95]:
vote_compare['agree'] = vote_compare['cast_code_x'] == vote_compare['cast_code_y']
vote_compare

,chamber,rollnumber,icpsr_x,cast_code_x,icpsr_y,cast_code_y,agree
1,House,1,14854,1,14863,1,True
2,House,1,14854,1,14873,6,False
3,House,1,14854,1,15029,6,False
4,House,1,14854,1,15433,6,False
5,House,1,14854,1,15448,6,False
...,...,...,...,...,...,...,...
57936808,Senate,530,49703,1,42503,1,True
57936809,Senate,530,49703,1,42504,1,True
57936810,Senate,530,49703,1,42505,1,True
57936811,Senate,530,49703,1,42506,1,True
57936812,Senate,530,49703,1,49308,6,False

In [96]:
vote_compare = vote_compare.groupby(['icpsr_x', 'icpsr_y']).agg({'agree': 'mean'}).reset_index()
vote_compare

        icpsr_x  icpsr_y     agree
0         14226    14435  0.020755
1         14226    14858  0.067925
2         14226    14871  0.052830
3         14226    14921  0.883019
4         14226    15021  0.100000
...         ...      ...       ...
206035    91980    29911  0.320285
206036    91980    31101  0.341637
206037    91980    31102  0.704626
206038    91980    39301  0.341637
206039    91980    39307  0.330961

[206040 rows x 3 columns]

In [97]:
vote_compare = pd.merge(vote_compare, crosswalk,
         left_on= 'icpsr_x',
         right_on = 'icpsr',
         how = 'outer',
         indicator = 'matched',
         validate = 'many_to_one')

In [98]:
vote_compare = vote_compare[['bioname', 'icpsr_x', 'icpsr_y', 'agree']]
vote_compare

                         bioname  icpsr_x  icpsr_y     agree
0       GRASSLEY, Charles Ernest    14226    14435  0.020755
1       GRASSLEY, Charles Ernest    14226    14858  0.067925
2       GRASSLEY, Charles Ernest    14226    14871  0.052830
3       GRASSLEY, Charles Ernest    14226    14921  0.883019
4       GRASSLEY, Charles Ernest    14226    15021  0.100000
...                          ...      ...      ...       ...
206035       VAN DREW, Jefferson    91980    29911  0.320285
206036       VAN DREW, Jefferson    91980    31101  0.341637
206037       VAN DREW, Jefferson    91980    31102  0.704626
206038       VAN DREW, Jefferson    91980    39301  0.341637
206039       VAN DREW, Jefferson    91980    39307  0.330961

[206040 rows x 4 columns]

In [99]:
vote_compare = pd.merge(vote_compare, crosswalk,
         left_on= 'icpsr_x',
         right_on = 'icpsr',
         how = 'outer',
         indicator = 'matched',
         validate = 'many_to_one')    

vote_compare

,bioname_x,icpsr_x,icpsr_y,agree,bioname_y,state_abbrev,district_code,icpsr,bioguide_id,matched
0,"GRASSLEY, Charles Ernest",14226,14435,0.020755,"GRASSLEY, Charles Ernest",IA,0,14226,G000386,both
1,"GRASSLEY, Charles Ernest",14226,14858,0.067925,"GRASSLEY, Charles Ernest",IA,0,14226,G000386,both
2,"GRASSLEY, Charles Ernest",14226,14871,0.052830,"GRASSLEY, Charles Ernest",IA,0,14226,G000386,both
3,"GRASSLEY, Charles Ernest",14226,14921,0.883019,"GRASSLEY, Charles Ernest",IA,0,14226,G000386,both
4,"GRASSLEY, Charles Ernest",14226,15021,0.100000,"GRASSLEY, Charles Ernest",IA,0,14226,G000386,both
...,...,...,...,...,...,...,...,...,...,...
206035,"VAN DREW, Jefferson",91980,29911,0.320285,"VAN DREW, Jefferson",NJ,2,91980,V000133,both
206036,"VAN DREW, Jefferson",91980,31101,0.341637,"VAN DREW, Jefferson",NJ,2,91980,V000133,both
206037,"VAN DREW, Jefferson",91980,31102,0.704626,"VAN DREW, Jefferson",NJ,2,91980,V000133,both
206038,"VAN DREW, Jefferson",91980,39301,0.341637,"VAN DREW, Jefferson",NJ,2,91980,V000133,both
206039,"VAN DREW, Jefferson",91980,39307,0.330961,"VAN DREW, Jefferson",NJ,2,91980,V000133,both

In [100]:
vote_compare = vote_compare[['bioname_x', 'bioname_y', 'agree']]
vote_compare = vote_compare.rename({'bioname_x': 'bioname',
                                   'bioname_y': 'comparison_member'}, axis=1)
vote_compare

                         bioname         comparison_member     agree
0       GRASSLEY, Charles Ernest  GRASSLEY, Charles Ernest  0.020755
1       GRASSLEY, Charles Ernest  GRASSLEY, Charles Ernest  0.067925
2       GRASSLEY, Charles Ernest  GRASSLEY, Charles Ernest  0.052830
3       GRASSLEY, Charles Ernest  GRASSLEY, Charles Ernest  0.883019
4       GRASSLEY, Charles Ernest  GRASSLEY, Charles Ernest  0.100000
...                          ...                       ...       ...
206035       VAN DREW, Jefferson       VAN DREW, Jefferson  0.320285
206036       VAN DREW, Jefferson       VAN DREW, Jefferson  0.341637
206037       VAN DREW, Jefferson       VAN DREW, Jefferson  0.704626
206038       VAN DREW, Jefferson       VAN DREW, Jefferson  0.341637
206039       VAN DREW, Jefferson       VAN DREW, Jefferson  0.330961

[206040 rows x 3 columns]

In [102]:
vote_compare[vote_compare['bioname']. str.contains('MCGUIRE')]. sort_values('agree', ascending=False)

                      bioname      comparison_member     agree
175793  MCGUIRE, John J., III  MCGUIRE, John J., III  0.973684
175922  MCGUIRE, John J., III  MCGUIRE, John J., III  0.953737
175817  MCGUIRE, John J., III  MCGUIRE, John J., III  0.950178
175871  MCGUIRE, John J., III  MCGUIRE, John J., III  0.950178
176002  MCGUIRE, John J., III  MCGUIRE, John J., III  0.950178
...                       ...                    ...       ...
175865  MCGUIRE, John J., III  MCGUIRE, John J., III  0.121951
175864  MCGUIRE, John J., III  MCGUIRE, John J., III  0.121951
175851  MCGUIRE, John J., III  MCGUIRE, John J., III  0.106762
176056  MCGUIRE, John J., III  MCGUIRE, John J., III  0.105263
175658  MCGUIRE, John J., III  MCGUIRE, John J., III  0.000000

[442 rows x 3 columns]